#grid {
    display: flex;
    width: 960px;
    height: 960px;
    gap: 1px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    border: 1px solid red;
}
.square {
    background-color: lightblue;
    width: 960px;
    height: 960px;
    border: 1px solid;

}